{% extends "zipfiles/base.html" %}

{% block body %}

<style>
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
    
.form-group {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}      
</style>
<form method="POST" action="{% url 'report' %}">
    {% csrf_token %}
    <div class="form-row mx-4 my-4">
        <div class="form-group col">
          <label for="assignment_number">Assignment Number:</label>
          <select class="form-control" id="assignment_number" name="assignment_number">
            <option value="">All</option>
            {% for assignment_number in assignment_numbers %}
              <option value="{{ assignment_number }}" {% if assignment_number == selected_assignment %}selected{% endif %}>{{ assignment_number }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col">
          <label for="status">Status:</label>
          <select class="form-control" id="status" name="status">
            <option value="">All</option>
            <option value="Failed" {% if selected_status == 'Failed' %}selected{% endif %}>Failed</option>
            <option value="Success" {% if selected_status == 'Success' %}selected{% endif %}>Success</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="db_type">Database Type:</label>
          <select class="form-control" id="db_type" name="db_type">
            <option value="">All</option>
            {% for db_type in database_types %}
              {% if db_type %}
                <option value="{{ db_type }}" {% if db_type == selected_db_type %}selected{% endif %}>{{ db_type }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group col">
            <label for="submission">Submission:</label>
            <select class="form-control" id="submission" name="submission">
              <option value="Submitted" {% if selected_submission == 'Submitted' %}selected{% endif %}>Submitted</option>
              <option value="Not Submitted" {% if selected_submission == 'Not Submitted' %}selected{% endif %}>Not Submitted</option>
            </select>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-info m-2">
        <i class="fas fa-filter"></i> Filter Data
      </button>
  </form>

  {% if missing_user_names %}
    <div class="container mt-4">
      <h3>Emails of Missing User Names</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for missing_user_name in missing_user_names %}
            <tr>
              <td>{{ missing_user_name }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="1">No missing emails found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if missing_user_names %}
      <button type="button" class="btn btn-sm btn-primary" id="copy-missing-emails">
        <i class="fas fa-copy"></i> Copy Emails
      </button>
      {% endif %}
    </div>
  {% else %}
    <table class="table mx-2">
      <thead>
        <tr>
          <th>Email</th>
          <th>Assignment Number</th>
          <th>Status</th>
          <th>Database Type</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.user_name.email|default:"" }}</td>
            <td>{{ user.assignment_number|default:"" }}</td>
            <td>{{ user.is_build_succeeded|default:"" }}</td>
            <td>{{ user.db_type|default:"" }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No users found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if users %}
    <button type="button" class="btn btn-sm btn-primary m-2" id="copy-emails">
      <i class="fas fa-copy"></i> Copy Emails
    </button>
    {% endif %}
  {% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
    function copyToClipboard(text) {
      var textarea = document.createElement('textarea');
      textarea.value = text;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
    }
  
    document.getElementById('copy-emails').addEventListener('click', function() {
      var emails = Array.from(document.querySelectorAll('tbody tr td:first-child')).map(function(td) {
        return td.textContent.trim();
      }).join('\n');
      copyToClipboard(emails);
      alert('Emails copied!');
    });
  
    document.getElementById('copy-missing-emails').addEventListener('click', function() {
      var missingEmails = Array.from(document.querySelectorAll('#missing-emails-table tbody tr td:first-child')).map(function(td) {
        return td.textContent.trim();
      }).join('\n');
      copyToClipboard(missingEmails);
      alert('Missing emails copied!');
    });
  
    var submissionDropdown = document.getElementById('submission');
    var statusDropdown = document.getElementById('status');
    var dbTypeDropdown = document.getElementById('db_type');
  
    submissionDropdown.addEventListener('change', function() {
      if (submissionDropdown.value === 'Not Submitted') {
        statusDropdown.disabled = true;
        dbTypeDropdown.disabled = true;
      } else {
        statusDropdown.disabled = false;
        dbTypeDropdown.disabled = false;
      }
    });
  
    // Disable status and db_type dropdowns initially if "Not Submitted" is selected
    if (submissionDropdown.value === 'Not Submitted') {
      statusDropdown.disabled = true;
      dbTypeDropdown.disabled = true;
    }
</script>
    
{% endblock %}
