{% extends "zipfiles/base.html" %}

{% block body %}
  <div class="container">
    <h1>User List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Enable</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        {% for user in users %}
        <tr>
          <td>{{ user.user_name }}</td>
          <td>{{ user.email }}</td>
          <td>{% if user.enable %}Yes{% else %}No{% endif %}</td>
          <td>
            <form method="post" action="{% url 'user_update' user.pk %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary">Edit</button>
            </form>
            <form method="post" action="{% url 'user_delete' user.pk %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this user: {{ user.user_name }}?')">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
