<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="bg-secondary text-center text-white p-3 mb-2">
            <h1>Inventory Application</h1>
        </header>

        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>

